body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.results-container {
    margin: 20px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.race-results h2 {
    color: #333;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #000000;
    color: #ffffff;
}

th, td {
    padding: 8px;
    border: 1px solid #dddddd;
    text-align: left;
}

th {
    font-weight: normal;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #fdd;
}

tbody tr.dnf {
    background-color: #fbb;
    color: #333;
}

tbody tr.fastest-lap {
    font-weight: bold;
}

td {
    color: #333;
}

tfoot {
    background-color: #000000;
    color: #ffffff;
}

tfoot td {
    font-weight: bold;
}

/* Specific styles for certain columns */
td:nth-of-type(1) { /* Position */
    background-color: #555;
    color: #fff;
}

td:nth-of-type(8), /* Race Time */
td:nth-of-type(9) { /* Points */
    font-weight: bold;
}

.fastest-lap td {
    color: #c00; /* Red color for the fastest lap */
}

.dnf td {
    color: #999; /* Grey out the DNF rows */
}
